@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/all.min.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4 bg-info">HERITAGE WOODS</h1>
    <h2 class="text-center">Furniture Retail Store</h2>

    <div>
        <h5>Buy/Sell Old/New Furniture as per your needs</h5>
    </div>

</div>
